/* Document Prep */
* { margin: auto; }
html, body {
  background: #2f2f2f; /* Failback BG in case JS doesn't work or no background is used */
  height: 100%;
}
body {
  opacity: 0;
  transition: all 500ms ease;
  color: white;
  z-index: 0;
  display: flex;
  flex-direction: column;
}

/* "Applet" Prep */
#app {
  width: 100%;
  height: 100%;
}
#centre { 
  margin: auto;
  text-align: center; /* Centres the image */
}
#bg {
  z-index: 1; /* Z-index is used for bg overlay */
  height: 100%;
}
#bg > img {
  height: 100%;
  display: none;
  z-index: 1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#player,
#playeri { display: none; } /* Hides the YT and SC players */

/* Meta contents on page */
.server-logo { border: none; }
.header { font-size: 3.5em; } /* header */
.sub {
  color: #d4d4d4;
	font-size: 1.5em;
} /* subheader */
.subsub { font-size: 1em; } /* subheader for the subheader */
#mute { display: none; }
.dark-text { color: #3b3b3b; }
.header, .sub { text-align: center; } /* centres text */
span { color: #f62c43; }

/* Footer */
#footer {
  flex-shrink: 0;
  height: 5vh; /* Keeps size not too big, not too small */
  width: 80%;
  z-index: 2;
  margin-top: 20vh;
  margin-bottom: 5vh;
}

.footer-text { font-size: .90em; }

/* Floats for footer */
.l { float: left; }
.r { float: right; }


/* Animated BG logic */
.animated {
  background: linear-gradient(270deg, #ffadad, #ffd6a5, #fdffb6, #caffbf, #9bf6ff, #a0c4ff, #bdb2ff, #ffc6ff);
  background-size: 400% 400%;
  animation: animatedBG 4s ease infinite;

  color: #000;
  transition: all 500ms ease;
}

/* Animation for rainbow wave */
@keyframes animatedBG {
    0%{background-position:0% 100%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

/* Carousel BG */
.carousel {
  padding-top: 1vh;
  margin-top: -200px;
  z-index: 5; /* Used in the future for BGs */
  background: #00000075;
}
.carousel > #footer { margin-top: 1vh; margin-bottom: 0; }

/* Animations for carousel */
.fade-in { animation: fadeIn ease 1000ms; }
.fade-out { animation: fadeOut ease 1000ms; }
@keyframes fadeIn {
  0% { opacity: 0 }
  100% { opacity: 1 }
}
@keyframes fadeOut {
  0% { opacity: 1 }
  100% { opacity: 0 }
}

/* Loading bar */
.bar {
  height: 20px;
  position: relative;
  background: #555;
  border-radius: 25px;
  padding: 10px;
  box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
}

.bar > span {
  display: block;
  height: 100%;
  border-radius: 20px 8px 8px 20px;
  background-image: linear-gradient(
    center bottom,
    rgb(43,194,83) 37%,
    rgb(84,240,84) 69%
  );
  box-shadow: 
    inset 0 2px 9px  rgba(255,255,255,0.3),
    inset 0 -2px 6px rgba(0,0,0,0.4);
  position: relative;
  overflow: hidden;
  width: 0;
}

/* Animation for loading bar */
@keyframes expand {
  0% { width: 0; }
  25% { width: 25%; }
  50% { width: 50%; }
  75% { width: 75%; }
  100% { width: auto; }
}